<div class="suggestion col-sm-12 col-md-6 col-lg-4">
    {{ with .Params.image }}
    {{ if or (hasPrefix . "http://") (hasPrefix . "https://") }}
        <figure>
            <img id="cover-image" src="{{ . }}" alt="{{ $.Title }}">
        </figure>
    {{ else }}
        <figure>
            <img id="cover-image" src="{{ . | relURL }}" alt="{{ $.Title }}">
        </figure>
    {{ end }}
{{ end }}

    <div class="content">
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>

        <div class="date-time">
            {{ partial "date.html" .Date }}
            &nbsp; &centerdot; &nbsp;
            {{ partial "time-to-read.html" .}}
        </div>

        <p class="summary">
            <a href="{{ .RelPermalink }}">
                {{ with .Description }}
                    {{ . }}
                {{ else }}
                    {{ $s := .Summary | plainify | htmlUnescape }}
                    {{ if not .Params.image }}
                        {{ $s  }}
                    {{ else }}
                        {{ substr $s 0 120 }}...
                    {{ end }}
                {{ end }}
            </a>
        </p>

        <div class="tags">
            {{ range .Params.tags }}
            <a href="{{ "/tags/" | relURL }}{{ . | urlize }}"><span class="tag bg-dark">{{ . }}</span></a>
            {{ end }}
        </div>
    </div>
</div>
